@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveIn {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.start-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    /* animation: rotate 40s linear  infinite ; */
}

.start-words {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #242424;
    font-family: 'Times New Roman', Times, serif;
    width: 60%;
    text-align: center;
    animation: moveIn 1s ease-in-out 1 ;
}
